venv
/**/.env
/**/logs/**
/**/*.log
.devcontainer/.backup
/**/.pytest_cache
tests/logs/**
.vscode
.idea
/**/__pycache__


/.devcontainer/mongo_data/
/build/
/dist/
/src/FastAPI_GraphQL_MongoDB_Demo.egg-info/
/FastAPI_GraphQL_MongoDB_Demo.egg-info/
/src/logs/**

!/src/logs/

/**/.ipynb_checkpoints
/.devcontainer/bookkeeper_data/
/.devcontainer/etcd_data/
/.devcontainer/milvus_data/
/.devcontainer/minio_data/
/.devcontainer/mysql_data/
/.devcontainer/zookeeper_data/
