venv
/**/.env
/**/logs/**
/**/*.log
.devcontainer/.backup
/**/.pytest_cache
tests/logs/**
.vscode
.idea
/**/__pycache__


/.devcontainer/mongo_data/
/build/
/dist/
/src/FastAPI_GraphQL_MongoDB_Demo.egg-info/
