backports.zoneinfo==0.2.1;python_version<="3.9"
bcrypt
black
build
fastapi
graphene
graphene-mongo
graphql-core
jupyter
python-dotenv
requests
mongoengine
pymilvus
pyOpenSSL
pytest
pytest-asyncio
setuptools
towhee
urllib3==1.25.11
uvicorn
wheel
